<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="author" content="<%= author %>">
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="<%= stylesheet %>">
</head>
<body class="container px3">

  <%= include('header') %>

  <main class="flex flex-wrap mxn2 py3">
    <% themes.map(renderCard) %>
  </main>


  <% function renderCard(theme) { %>
    <div class="col-6 md-col-4 px2 mb4">
      <a href="<%= theme.url %>" class="h3 block black" title="View <%= theme.url %>" target="_blank">
        <img src="<%= obj.asset_path %><%= theme.image %>" class="border" alt="<%= theme.title %>"/>
        <div class="h3 bold"><%= theme.title %></div>
        <div class="h5"><%= theme.description %></div>
      </a>
    </div>
  <% } %>

  <%= include('footer') %>

</body>
</html>
