
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  margin: 0;

  color: #f50;
}

.serif {
  font-family: Merriweather, serif;
}

a {
  color: inherit;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}


hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: .25em 1.25em;
  border: 2px solid;
  border-radius: 3px;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
}

.btn:hover {
  box-shadow: inset 0 0 0 1px;
}

.black { color: #333 }
.white { color: #fff }
.red { color: #f50 }
.blue { color: #08d }

.bg-black { background-color: #333 }
.bg-white { background-color: #fff }
.bg-red { background-color: #f50 }
.bg-blue { background-color: #08d }


/* Utils */

@media screen and (min-width: 50em) {
  .h1v { font-size: 4vw !important }
}

.border-thick {
  border-width: 3px !important;
}

