
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--black);
}

pre {
  padding: var(--space-2);
  background-color: var(--darken-1);
}

code {
  font-size: 87.5%;
  color: var(--blue);
  background-color: transparent;
}

pre code {
  padding: 0;
}

.highlight pre { background-color: transparent; margin-bottom: 0 }

.b2 { border-width: 2px }

