/* Basscss.com Styles */

@import "basscss-base-reset";
@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';
@import "basscss-base-typography";

@import 'basscss-ui-utility-button-sizes';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-utility-white-space';
@import 'basscss-utility-responsive-states';
@import 'basscss-positions';
@import 'basscss-ui-utility-groups';

@import 'basscss-utility-headings';

@import 'basscss-grid';
@import "flex-object";

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-input-range';
@import 'basscss-progress';
@import 'basscss-color-tables';

@import 'basscss-button-outline';
@import 'basscss-button-transparent';
@import 'basscss-button-link';
@import 'basscss-color-borders';
@import 'basscss-background-images';
@import "basscss-highlight";
@import 'basscss-colors';

  /* Legacy modules */
  /*
  @import 'basscss-table-object';
  @import 'basscss-button-blue';
  @import 'basscss-button-blue-outline';
  @import 'basscss-button-red';
  @import 'basscss-button-gray';
  @import 'basscss-button-light-gray';
  @import 'basscss-button-nav-light';
  @import 'basscss-button-nav-dark';
  @import 'basscss-button-nav-tab';
  */

@import "./base/icons";
@import "./base/folding-table";
@import "./base/table-flush";


@import "./utility/layout";
@import "./utility/prose";

@import "./color/base";


/* Custom Media Queries */
@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

@import "basscss-defaults";

:root {

  --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --heading-font-weight: 600;
  --bold-font-weight: 600;
  --button-font-weight: 600;
  --container-width: 76rem;
  --button-font-size: var(--h5);

  --prose-font-size: 1.125rem;
  --prose-intro-font-size: var(--h3);
  --prose-heading-margin-top: 1.5em;

}



