/*

    Monobass
    Hyperminimal theme for Basscss
    http://basscss.com

*/

@import "basscss-base-reset";
@import "basscss-base-forms";
@import "basscss-base-buttons";
@import "basscss-base-tables";
@import "basscss-base-typography";

@import "basscss-utility-layout";
@import "basscss-utility-typography";
@import "basscss-utility-white-space";
@import "basscss-utility-responsive-states";
@import "basscss-ui-utility-button-sizes";

@import "basscss-grid";
@import "flex-object";

@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-forms-dark';
@import 'basscss-input-range';
@import 'basscss-color-tables';
@import 'basscss-button-outline';
@import 'basscss-button-transparent';
@import 'basscss-color-borders';

@import 'basscss-colors';

/* @import './color/colors'; */


.bright-blue { color: var(--bright-blue) }
.bg-bright-blue { background-color: var(--bright-blue) }
.border-bright-blue { border-color: var(--bright-blue) }

.border-thick { border-width: 2px }

.icon {
  position: relative;
  top: .1875em;
  width: 1em;
  height: 1em;
}

@import 'basscss-defaults';


@custom-media --breakpoint-sm (min-width: 36em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, serif;
  --heading-font-weight: 700;
  --bold-font-weight: 700;
  --button-font-weight: 700;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: var(--h5);
  --container-width: 76rem;
  --button-font-size: .875rem;
  
  --black: #222;
    --black: #16262c; /* From Blk */
  --bright-blue: #0f8fff; /* For use on dark background */
  --red: #ff4916;

  --dark-gray: var(--black);
  --border-width-2: 2px;
}



